@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/Open-Sans-Regular.eot);
  src: local('Open Sans Regular'), local('OpenSans-Regular'), local('Open Sans'), url(../fonts/Open-Sans-Regular.ttf) format('truetype'), url(../fonts/Open-Sans-Regular.eot?#iefix) format('embedded-opentype'), url(../fonts/Open-Sans-Regular.woff) format('woff'), url(../fonts/Open-Sans-Regular.svg#OpenSans) format('svg');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 800;
  src: local('Open Sans ExtraBold'), local('OpenSans-ExtraBold'), url(../fonts/Open-Sans-ExtraBold.ttf) format('truetype'), url(../fonts/Open-Sans-ExtraBold.woff) format('woff');
}

