$font-family-sans-serif: 'Open Sans', sans-serif;
$font-family-serif: Georgia, serif;

$font-weight-sans-serif-regular: 400;
$font-weight-sans-serif-bold: 700;

$font-weight-serif-regular: 400;

$color-1: rgb(0, 35, 149);
$color-2: rgb(254, 203, 0);

$mq-breakpoints: (
  tablet: 768px,
);
