.chapter {
  display: flex;
  flex-direction: column;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  margin-top: 3rem;

  @include mq(tablet) {
    margin-left: 3.5rem;
    margin-right: 3.5rem;
    margin-top: 4rem;
  }

  @include mq(tablet) {
    flex-direction: row;
  }

  & + & {
    margin-top: 4rem;

    @include mq(tablet) {
      margin-top: 8rem;
    }
  }

  &--reverse &__intro {
    padding-left: 1rem;
    padding-right: 0;
    text-align: left;

    @include mq(tablet) {
      order: 2;
    }
  }

  &__intro {
    display: flex;
    flex-direction: column;
    text-align: right;

    @include mq(tablet) {
      align-self: flex-end;
      padding-right: 1rem;
      height: 100%;
      width: 35%;
    }
  }

  &__intro-sub-title {
    display: block;
    font-size: 1.1rem;
    font-weight: $font-weight-serif-regular;
    line-height: 1.2;
    margin-top: .25rem;
    position: relative;

    @include mq(tablet) {
      font-size: 1.3rem;
    }

    &:before {
      border-top: 15px solid rgba(0, 35, 149, .7);
      content: ' ';
      height: 1px;
      position: absolute;
      right: -2rem;
      top: -17px;
      width: 8rem;

      @include mq(tablet) {
        border-top-width: 25px;
        top: -27px;
      }
    }
  }

  &--reverse &__intro-sub-title:before {
    left: -2rem;
    right: auto;
  }

  &__intro-title {
    font-family: $font-family-sans-serif;
    font-weight: $font-weight-sans-serif-bold;
    font-size: 2.6rem;
    line-height: 1;
    margin-bottom: 0;
    margin-top: 0;
    text-transform: uppercase;
    word-wrap: break-word;

    @include mq(tablet) {
      font-size: 3.6rem;
      margin-bottom: .25rem;
    }
  }

  &__intro-title-text {
    position: relative;
    z-index: 100;
  }

  &__intro-text {
    font-family: $font-family-serif;
    font-size: .85rem;
    line-height: 1.2;

    @include mq(tablet) {
      font-size: 1.2rem;
      line-height: 1.4;
    }

    > p:last-child {
      margin-bottom: 0;
    }
  }

  &__video {
    display: flex;
    margin-left: .5rem;
    margin-top: 1.5rem;
    min-height: 12rem;
    width: 100%;

    @include mq(tablet) {
      margin-top: 0;
      min-height: 24rem;
      width: 65%;
    }
  }
}
