.credits {
  border-top: 5px solid rgba(254, 203, 0, .7);
  font-size: 1.2rem;
  margin-bottom: 6rem;
  margin-top: 6rem;
  padding-top: 2rem;
  text-align: center;

  &__item {
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    line-height: 1.45;
    margin-bottom: 0;
    margin-top: 0;

    & + & {
      margin-top: .25rem;
    }
  }

  &__item-role {
    font-weight: 400;
  }
}
