.intro {
  padding-top: 2.5rem;
  text-align: right;

  &__title {
    font-family: $font-family-sans-serif;
    font-weight: $font-weight-sans-serif-regular;
    font-size: 1.4rem;
    line-height: 1;
    margin-bottom: 3rem;
    margin-right: 2.5rem;
    margin-top: 0;
    position: relative;
    text-transform: uppercase;

    @include mq(tablet) {
      font-size: 2.4rem;
    }

    &:before {
      border-top: 45px solid rgba($color-2, .7);
      content: ' ';
      height: 1px;
      position: absolute;
      right: -6rem;
      top: -.2rem;
      width: 15rem;
    }
  }

  &__title-category {
    display: block;
    font-size: 3.2rem;
    font-weight: $font-weight-sans-serif-bold;
    position: relative;
    z-index: 100;

    @include mq(tablet) {
      font-size: 4.8rem;
    }
  }

  &__text {
    font-family: $font-family-sans-serif;
    font-weight: $font-weight-sans-serif-regular;
    font-size: 1rem;
    line-height: 1.4;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    text-align: left;

    @include mq(tablet) {
      font-size: 1.1rem;
      margin-left: auto;
      margin-right: auto;
      max-width: 45rem;
    }

    > strong {
      font-weight: $font-weight-sans-serif-bold;
    }

    > p {
      margin-bottom: 0;
    }

    > p:first-child {
      margin-top: 0;
    }

    > p:last-child {
      margin-bottom: 0;
    }

    > p + p {
      margin-top: .9rem;
    }
  }
}
